.recovery-page {
    min-height: calc(100vh - 100px);
    background-color: #0c0c0c;
}

.recovery-page .recovery-box {
    width: 400px;
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 12px;
}

.recovery-box .recovery-btn {
    background-color: #F2A65A ;
    color: #1f2328 ;
}