/* .favorites-box {
    display: flex;
    background-color: pink;
    flex-grow: 1;
    height: 300px;
} */

/* .change-password-form input {
    max-width: 200px;
} */

/* .change-password-form button {
    max-width: 400px;
} */