
footer {
    background-color: #0c0c0c;
    color: #c7d2fe;
    padding-top: 5px;
}

footer ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #c7d2fe;
}

.footer-box p {
    margin-bottom: 3px;
}

.footer-box {
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer-box p {
        margin-bottom: 5px;
    }

    .footer-box {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 25px;
        padding-right: 25px;
    }
}
