/* :root {
   
    
} */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    height: 100%;
}

.main-container {
    background-color: #f8ddd0;
}

/* .category-card {
    width: 400px;
    min-height: 400px;
}

.category-card .card-image {
    width: 200px;
    height: auto;
    align-self: center;
} */

.main-content {
    padding: 10px;
    /* background-color: #f8ddd0; */
    background-color: #d0d0d0;
    border-radius: 10px;
}


.carousel-item .slide-img {
    width: 90%;
    margin: auto;
    border-radius: 25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}


.carousel-caption h3,
.carousel-caption p {
    color: #F5793B ;
}

.carousel-main .carousel-control-prev,
.carousel-main .carousel-control-next {
  background-color: #d0d0d0;
  width: 5%;
}

